body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}
h1 {
color: black;
}
p {
color: red;
}

header {
background-color: aliceblue;
padding: 5px;
text-align: center;
font-size: 20px;
border: 1px solid black;
}

img{
    float: center; 
    margin-right: 15px;
    margin: 5px;
}

div {
    border: 1px solid black;
    margin: 5px;
    text-align: left;
    font-size: 20px;
}